[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faiss-cpu = "*"
langchain = "*"
bs4 = "*"
pandas = "*"
python-dotenv = "*"
openai = "*"
tiktoken = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
